@font-face {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
       url("./assets/fonts/sourcesanspro-regular-webfont.woff") format("woff"),
       url("./assets/fonts/SourceSansPro-Regular.ttf") format("ttf");
}

/*-Global-*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 35px 92vh;
  grid-row-gap: 20px;
  font-family: "Source Sans Pro", "Roboto", sans-serif;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  opacity: 0.9;
}

/*============HEADER============*/

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding: 0 20px;
  box-shadow: 0 2px 5px 0 #808080;
}

/*============MAIN============*/

.main {
  display: grid;
  grid-template-columns: 100px 200px 1fr 210px 50px;
  grid-column-gap: 20px;
  padding: 0 10px;
}

.first-column-wrap {
  display: grid;
  grid-template-rows: 20fr 2fr;
}

.frames-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.canvas-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.canvas-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  image-rendering: pixelated;
  box-shadow: 0 2px 5px 0 #808080;
}

.canvas-draw-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  image-rendering: pixelated;
  box-shadow: 0 2px 5px 0 #808080;
}

.animation-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.animation-container {
  width: 210px;
  height: 210px;
  box-shadow: 0 2px 5px 0 #808080;
  background-size: 100%;
}

.animation-container:fullscreen {
  background-color: white;
  image-rendering: pixelated;
}

.controller-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30px;
  box-shadow: 0 2px 5px 0 #808080;
  border-radius: 5px;
}

.current-controller-value span {
  color: red;
  margin-right: 5px;
}

.data-container {
  width: 100%;
}
